<div class="loginDiv" *ngIf="( authApp.user | async) as obs; else login">
  <h1>¡Bienvenido {{obs.displayName}}!</h1>
  <ng-container *ngIf="dbApp.acceso == false else compra">
  <br/><br/>
  <button class="btn btn-secondary" (click)="authApp.logout()"><i class="fas fa-sign-out-alt"></i> SALIR</button>
  <br/><br/>
  <br/><br/>
  <ng-container *ngIf="authApp.twitter == true"> <button class="btn btn-success" (click)="dbApp.altausuario(obs.displayName, obs.uid)"><i class="fas fa-check"></i> ACCEDER</button></ng-container>
  <ng-container *ngIf="authApp.google == true"> <button class="btn btn-success" (click)="dbApp.altausuario(obs.email, obs.uid)"><i class="fas fa-check"></i> ACCEDER</button></ng-container>
  <button class="btn btn-danger" (click)="dbApp.bajausuario(obs.uid)"><i class="far fa-trash-alt"></i> DARSE DE BAJA</button>
  <br/><br/>
  </ng-container>
</div>

<ng-template #compra>
  <ng-container *ngIf="( authApp.user | async) as obs">
  <app-listacompra></app-listacompra>
  <button class="btn btn-secondary" (click)="authApp.logout()"><i class="fas fa-sign-out-alt"></i> SALIR</button>
  <button class="btn btn-danger" (click)="dbApp.bajausuario(obs.uid)"><i class="far fa-trash-alt"></i> DARSE DE BAJA</button>
  </ng-container>
</ng-template>
<ng-template #login>
  <div class="loginDiv">
    <br/><br/>
    <button class="btn btn-primary" (click)="authApp.tlogin()">
      <i class="fab fa-twitter"></i>
      Twitter Login</button>
    <br/><br/>
    <button class="btn btn-danger" (click)="authApp.glogin()">
      <i class="fab fa-google"></i>
      Google Login
    </button>
  </div>

</ng-template>
